// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$list-nav-border-radius: 8px !default;
$menu-content-elevation: 6 !default;